extends ../../base.pug

append bodyContent
  #productInnerSubpage.barba-container.container-fluid.relative.subpage(data-namespace='ProductsNav')
    +navigation()
    #kindergartenUnits.page-section.large-section.top-section.white.section-icon
      .container.large
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3.c-prim Science&nbsp;
                span.c-sec.new-line Experiment Bags
            .link-icon.wow.slideInRight
              a.blue-link.sm(href='/products/EarlyChildhood')
                .flipped
                  +arrow()
                span Back To Early Childhood&nbsp;
      .container.small
        .row
          .text-section.page-item
            for item in data
              if (item.description === 'Science Experiment Bag')
                - topics = item.topics.toString().split('?')
                - topics.splice(topics.length - 1)
                - colorFlag = (productCount % 2 == 1) ? true : false
                +snipCartProduct(url, 'EarlyChildhood', item.id, item.name, item.price, item.description, topics, colorFlag)
  +contactFooter()
