include ./mixins.pug

doctype html
html(lang="en")
  head
    // Little Scientists Main Website 
    // By Abhi Nayar for SemiErect Design Co.
    // Copyright (c) 2018
    // This work is the property of Little Scientists, Inc. and all questions should be directed at the organization above.
    // For design inquiries please contact hello@abhi.design
    //
    // title
    //
    block headTitle
      if (meta && meta.title)
        title= meta.title + ' | Little Scientists - The #1 Resource For Hands-On Minds-On Education For Children Learning Science Skills & Beyond.'
      else
        title Little Scientists - The #1 Resource For Hands-On Minds-On Education For Children Learning Science Skills & Beyond.
    //
    // meta tags
    //
    block metaResponsive
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      include ./meta/main.pug
    //
    // icons
    //
    block metaIcons
      link(rel='apple-touch-icon', sizes='180x180', href='/images/icons/apple-touch-icon.png')
      link(rel='icon', type='image/png', sizes='32x32', href='/images/icons/favicon-32x32.png')
      link(rel='icon', type='image/png', sizes='16x16', href='/images/icons/favicon-16x16.png')
      link(rel='manifest', href='/images/icons/manifest.json')
      link(rel='mask-icon', href='/images/icons/safari-pinned-tab.svg', color='#000489')
      link(rel='shortcut icon', href='/images/icons/favicon.ico')
      meta(name='msapplication-TileColor', content='#000489')
      meta(name='msapplication-TileImage', content='/images/icons/mstile-144x144.png')
      meta(name='msapplication-config', content='/images/icons/browserconfig.xml')
      meta(name='theme-color', content='#ffffff')
    //
    // sharing meta tags
    block twitterTags
      include ./meta/twitter.pug
      // Twitter
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:site', content='')
      meta(name='twitter:title', content='')
      meta(name='twitter:description', content='')
      meta(name='twitter:creator', content='')
      meta(name='twitter:image:src', content='/images/sharing/meta_image.png')
      meta(name='twitter:domain', content='')
      meta(name='twitter:app:name:iphone', content='')
      meta(name='twitter:app:name:ipad', content='')
      meta(name='twitter:app:name:googleplay', content='')
      meta(name='twitter:app:url:iphone', content='')
      meta(name='twitter:app:url:ipad', content='')
      meta(name='twitter:app:url:googleplay', content='')
      meta(name='twitter:app:id:iphone', content='')
      meta(name='twitter:app:id:ipad', content='')
      meta(name='twitter:app:id:googleplay', content='')
    block facebookTags
      include ./meta/facebook.pug
      // Facebook
      meta(property='og:title', content='')
      meta(property='og:description', content='')
      meta(property='og:type', content='product')
      meta(property='og:image', content='/images/sharing/meta_image.png')
    //
    // fonts
    //
    block fontFiles
      // Circular Std. Local Font File
      // Montserrat Fallback
    //
    // CSS
    //
    block externalCSS
      // Bootstrap 3
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
      // Animate.CSS
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
      //
        link(rel='stylesheet', href='/fonts/fonts.css')
        link(rel='stylesheet', href='/css/vendor/normalize.min.css')
        link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
    block localCSS
      // main page CSS
      link(rel='stylesheet', href='/css/prod/app.min.css')
  body
    // TODO: Future developer -> Implementation of BarbaJS caching interface was out of scope due to complexity of integration with e-commerce solution.
    // If possible, integrate BarbaJS with Snipcart solution and rebuild JS.
    #barba-wrapper
      // Body Content
      block bodyContent
    // Google Translate Code Snippet
    #google_translate_element
    script(type='text/javascript').
      function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
      }
    script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')

    block externalScripts
      script(src='/js/vendor/console-shim.js') // prevent console errors in old browsers
      // Modernizr
      script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js")
      // jQuery 2.2.4 (use whatever version you want)
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
      // WOW.js (loading anims.)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
      // Local Load Scripts
      //
        script(src='/js/vendor/modernizr-2.6.2.min.js')
        script(src='/js/vendor/jquery-2.2.4.min.js')
    // List.JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js')
    // Snipcart
    script#snipcart(src='https://cdn.snipcart.com/scripts/2.0/snipcart.js', data-api-key='Zjg4NDk4YTAtMDg1ZC00YmI2LWJkNjItMmQyZjVmZjMxMzA5NjM2NDQ1MTY5MjE3MzQ3Mzk4')
    link(href='https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css', type='text/css', rel='stylesheet')
    // Local Scripts
    block localScripts
    // Start of Async Drift Code
    script(defer).
      !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
      return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
      };
      }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
      }), t.load = function(t) {
      var e, n, o, i;
      e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
      n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('p4fcw9xft6x4');
    // End of Async Drift Code
    block localScripts
      script(src='/js/prod/app.min.js')
