include ./mixins.pug

doctype html
html(lang="en")
  head
    // NodeJS Boilerplate by Abhi Nayar (github.com/abhinayar)
    // Credit not needed. Hope this is useful to a few people.
    // If you have comments or suggestions please email anayar2[at]gmail[dot]com
    // Connect with me on LinkedIn : https://www.linkedin.com/in/abhinayar
    //
    // title
    //
    block headTitle
      title Example Application
    //
    // meta tags
    //
    block metaResponsive
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
    //
    // icons
    //
    block metaIcons
      link(rel='shortcut icon', href='/favicon.ico')
      link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/images/icons/apple-touch-icon-57.png')
      link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/icons/apple-touch-icon-114.png')
      link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/icons/apple-touch-icon-72.png')
      link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/icons/apple-touch-icon-144.png')
      link(rel='apple-touch-icon-precomposed', sizes='60x60', href='/images/icons/apple-touch-icon-60.png')
      link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/images/icons/apple-touch-icon-120.png')
      link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/images/icons/apple-touch-icon-76.png')
      link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/images/icons/apple-touch-icon-152.png')
      link(rel='icon', type='image/png', href='/images/icons/favicon-196.png', sizes='196x196')
      link(rel='icon', type='image/png', href='/images/icons/favicon-96.png', sizes='96x96')
      link(rel='icon', type='image/png', href='/images/icons/favicon-32.png', sizes='32x32')
      link(rel='icon', type='image/png', href='/images/icons/favicon-16.png', sizes='16x16')
      link(rel='icon', type='image/png', href='/images/icons/favicon-128.png', sizes='128x128')
    //
    // application meta tags
    //
    block metaApplication
      meta(name='application-name', content=' ')
      meta(name='msapplication-TileColor', content='#FFFFFF')
      // 144x144
      meta(name='msapplication-TileImage', content='/images/icons/ms-app-image-144.png')
      // 70x70
      meta(name='msapplication-square70x70logo', content='/images/icons/ms-app-image-70.png')
      // 150x150
      meta(name='msapplication-square150x150logo', content='/images/icons/ms-app-image-150.png')
      // 310x150
      meta(name='msapplication-wide310x150logo', content='/images/icons/ms-app-image-310-150.png')
      // 310x310
      meta(name='msapplication-square310x310logo', content='/images/icons/ms-app-image-310.png')
    //
    // sharing meta tags
    block twitterTags
      // Twitter
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:site', content='')
      meta(name='twitter:title', content='')
      meta(name='twitter:description', content='')
      meta(name='twitter:creator', content='')
      meta(name='twitter:image:src', content='/images/sharing/meta_image.png')
      meta(name='twitter:domain', content='')
      meta(name='twitter:app:name:iphone', content='')
      meta(name='twitter:app:name:ipad', content='')
      meta(name='twitter:app:name:googleplay', content='')
      meta(name='twitter:app:url:iphone', content='')
      meta(name='twitter:app:url:ipad', content='')
      meta(name='twitter:app:url:googleplay', content='')
      meta(name='twitter:app:id:iphone', content='')
      meta(name='twitter:app:id:ipad', content='')
      meta(name='twitter:app:id:googleplay', content='')
    block facebookTags
      // Facebook
      meta(property='og:title', content='')
      meta(property='og:description', content='')
      meta(property='og:type', content='product')
      meta(property='og:image', content='/images/sharing/meta_image.png')
    //
    // fonts
    //
    block fontFiles
      // Roboto Google Font
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat:100,400,700')
    //
    // css
    //
    block externalCSS
      // NormalizeCSS
      link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
      // bootstrap 3
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
      // Animate.CSS
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
      //
        link(rel='stylesheet', href='/fonts/fonts.css')
        link(rel='stylesheet', href='/css/vendor/normalize.min.css')
        link(rel='stylesheet', href='/css/vendor/bootstrap.min.css')
    block localCSS
      // main page CSS
      link(rel='stylesheet', href='/css/prod/app.min.css')
  body
    #barba-wrapper
      block bodyContent
    // Google Translate Code Snippet
    #google_translate_element
    script(type='text/javascript').
      function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'zh-CN', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
      }
    script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')

    block externalScripts
      script(src='/js/vendor/console-shim.js') // prevent console errors in old browsers
      // Modernizr
      script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js")
      // jQuery 2.2.4 (use whatever version you want)
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
      // WOW.js (loading anims.)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
      // Local Load Scripts
      //
        script(src='/js/vendor/modernizr-2.6.2.min.js')
        script(src='/js/vendor/jquery-2.2.4.min.js')
    // List.JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js')
    // Snipcart
    script#snipcart(src='https://cdn.snipcart.com/scripts/2.0/snipcart.js', data-api-key='Zjg4NDk4YTAtMDg1ZC00YmI2LWJkNjItMmQyZjVmZjMxMzA5NjM2NDQ1MTY5MjE3MzQ3Mzk4')
    link(href='https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css', type='text/css', rel='stylesheet')
    // Local Scripts
    block localScripts
    // Start of Async Drift Code
    script(defer).
      !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
      return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
      };
      }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
      }), t.load = function(t) {
      var e, n, o, i;
      e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
      n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
      }();
      drift.SNIPPET_VERSION = '0.3.1';
      drift.load('p4fcw9xft6x4');
    // End of Async Drift Code
    block localScripts
      script(src='/js/prod/app.min.js')
