extends base.pug

append bodyContent
  #productSubpage.barba-container.container-fluid.relative.subpage(data-namespace='LoginNav')
    +navigation()
    #loginPage.page-section.large-section.top-section.blue
      .container
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3.c-w Login To
                span.new-line.c-sec Members Area
      .container.small
        .row
          .content-section.no-push.col-xs-12.no-padding
            form#loginForm.bg-white.text-center.page-item.top-item(action='POST', role='form', autocomplete='on')
              .text-section
                if (message)
                  span.lg.bold(style="color: red")!= message
                  br
                  br
                span.lg.bold.c-dark Enter your username &amp; password for access to the members section. For help call us at&nbsp;
                  a.c-sec(href='tel:18003228386') 1-800-FACT-FUN&nbsp;
                  | &nbsp;or&nbsp;
                  a.c-sec(href='#Contact') Contact Us
                  | &nbsp;below.
              .input-wrapper.lg.page-item
                input#membersUname.top-section(type='text', placeholder='Enter Your Username', name='username', autofocus='true')
                input#membersPwd.top-section(type='password', placeholder='Enter Your Password', name='password', autofocus='false')
              br
              br
              button#membersSubmit.button.hover-scale.color-white.bg-prim.lg(type='submit') Login To Members Area &rarr;
            br
            br
    +contactFooter()

append localScripts
  script.
    $('#membersSubmit').on('click', function(e) {
      e.preventDefault();
      let uname = $('#membersUname').val(),
      pwd = $('#membersPwd').val();

      if (!uname || uname.length <= 0) {
        alert("You must enter a username!")
      } else if (!pwd || pwd.length <= 0) {
        alert("You must enter a password!");
      } else {
        $.ajax({
          type: "POST",
          url: "/login",
          data: { pwd : pwd },
          success : successCb
        });
      }
    })

    function successCb(data) {
      console.log(data)
      if (data) {
        let url = data.url;
        window.location.href = url;
      }
    }
