extends ./base.pug

append bodyContent
  #products.barba-container.container-fluid.relative.subpage(data-namespace='ProductsNav')
    +navigation()
    #productsHeading.page-section.large-section.top-section.white
      .container
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3 Our&nbsp;
                span.c-prim Products
                span.new-line &&nbsp;
                  span.c-sec Services
            .link-icon.wow.slideInRight
              .icon.icon-image
                img(src='/images/common/rightIcons1.png', alt="Little Scientists")
      .container.small
        .row
          .content-section.no-push.col-xs-12
            .image-section.page-item.no-margin
              .image-wrapper.wow.fadeIn
                img(src='/images/products/banner.png', alt='Products & Services')
            .text-section.page-item
              .xl.wow.fadeIn.c-dark.wow.fadeIn
                span.bold Little Scientists
                  sup &reg;&nbsp;
                  | has a large variety of products and services available for science education. Browse the list below and see more information, or contact us to find out if Little Scientists
                  sup &reg;
                  | &nbsp;is right for you!
            .list-section.page-item
              ul.item-nav-list.m-b-lg.wow.fadeInUp
                .row
                  .col-xs-12.col-sm-4
                    li.item-nav
                      a(href='#CurriculumUnits') Curriculum Units
                    li.item-nav
                      a(href='#EarlyChildhood') Early Childhood
                    li.item-nav
                      a(href='#CorporatePartnership') Corporate Partnership
                    li.item-nav
                      a(href='#ScienceLessons') Science Lessons
                  .col-xs-12.col-sm-4
                    li.item-nav
                      a(href='#InternationalLicenseeProgram') International Licensee Program
                    li.item-nav
                      a(href='#ScienceSupplies') Science Supplies
                    li.item-nav
                      a(href='#ProfessionalDevelopment') Professional Development
                  .col-xs-12.col-sm-4
                    li.item-nav
                      a(href='#InSchoolFieldTrip') In-School Field Trip
                    li.item-nav
                      a(href='#HomeSchooling') Home Schooling
                    li.item-nav
                      a(href='#BirthdayParties') Birthday Parties
            .page-break.rule
    #productList.page-section.large-section.white.no-padding
      .container.small
        .row.product-full-row
          +fullProduct('/images/products/CurriculumUnits.jpg', 'CurriculumUnits', '<p>Little Scientists<sup>&reg;</sup> strives for transparency, ease of operation, a core commitment to serve clients and a profound ability to be both teacher and student friendly.<br><br>If Hands-On science is a core component of your NGSS adopted or adapted model, then Dr Heidi and Ollie and all their friends want to be your friends.</p>', '/products/CurriculumUnits', 'View All Units &rarr;', false, false)

          +fullProduct('/images/products/EarlyChildhood.jpg', 'EarlyChildhood', '<p>All the child centered values of Little Scientists<sup>&reg;</sup> are represented in our Early Childhood programs, units and products.  We seek to convert a child’s natural curiosity and build easily sustainable and teachable programs around that desire.<br><br>With nearly 25 years and many thousands of once upon a time and current pre schoolers having “graduated” from our programs, worn our lab coats, experimented with our activities, they will call it fun. You will call it age appropriate hands-on learning meeting both the most exacting expectations and the broadest latitudes of capabilities. </p>', '/products/EarlyChildhood', 'Learn More &rarr;', false, true)

          +fullProduct('/images/products/CorporatePartnership.jpg', 'CorporatePartnership', '<p>Any existing education institution currently obtaining corporate funding may direct those funds as available for application against the investment in science education provided by Little Scientists<sup>&reg;</sup>.<br><br>We will, as requested, work with our education partners to facilitate the funding process and provide acknowledgement through our website.</p>', '/products/CorporatePartnership', 'Learn More &rarr;', false, false)

          +fullProduct('/images/products/InternationalLicenseeProgram.jpg', 'InternationalLicenseeProgram', '<p>The world knows that creative hands-on age appropriate science is an international language for success in the classroom. So please don’t be afraid. Go ahead and contact us.<br><br>And you too can link your educational institution to our solution for success— take highly motivated students and teachers and provide them a winning formula of hands-on science programs and curriculum units that open those doors of inquiry and understanding.</p>', '/products/InternationalLicenseeProgram', 'Become A Partner &rarr;', false, true)

          +fullProduct('/images/products/ScienceSupplies.jpg', 'ScienceSupplies', '<p>With multiple McGraw-Hill published science activity books, with our oh so precious and “cute” children’s lab coats (that really are points of immense pride for the student) with numerous take home kits and activities to further underscore science interest at any age levels.<br><br>LS has been and continuers to be a friendly resource provider in the hands-on science education field for a full generation.</p>', '/products/ScienceSupplies', 'View Details &rarr;', false, false)

          +fullProduct('/images/products/ProfessionalDevelopment.jpg', 'ProfessionalDevelopment', '<p>What if hugely proven and field tested manuals offer teachers an ease of handling, guiding and instructing? And what if a trained support staff was there to work with education partners smoothly and successfully?</p>', '/products/ProfessionalDevelopment', 'View Details &rarr;', false, true)

          +fullProduct('/images/products/ScienceLessons.jpg', 'ScienceLessons', '<p>After school becomes a very enriching experience for our Little Scientists<sup>&reg;</sup> students at the K-5 years.<br><br>Many thousands of students have demanded to blow up volcanoes, make that goop, make their own bouncing ball and about 400 plus other programs.<br><br><span class="bold">Pretty cool, no?</span></p>', '/products/ScienceLessons', 'View Available Lessons &rarr;', false, false)

          +fullProduct('/images/products/InSchoolFieldTrip.jpg', 'InSchoolFieldTrip', '<p>Each Little Scientists<sup>&reg;</sup> lesson stands on its own and a Little Scientists<sup>&reg;</sup> certified teacher can make a one time presentation on any of our 450+ lessons.<br><br>Many schools prefer for us to present our classes to a wider audience. We can adjust any of our class topics for use in a regular class setting.<br><br>These sessions usually run 60 minutes depending on class size. A Little Scientists<sup>&reg;</sup> educator will come to your class and present any of our lessons to your students.<br><br><span class="bold">Hold onto your hat! We guarantee they will have a high flying adventure!</span></p>', '/products/InSchoolFieldTrip', 'View Details &rarr;', false, true)

          +fullProduct('/images/products/HomeSchooling.jpg', 'HomeSchooling', '<p><span class="bold">Are you a parent that home schools your child?</span><br><br>If so, we are now offering our <a class="reg-link" href="/products/CurriculumUnits">curriculum products</a>, <a class="reg-link" href="/products/ScienceSupplies">learn-at-home-kits</a>, and <a class="reg-link" href="/products/ScienceSupplies">hands-on activity books</a> to home school students.<br><br>The curriculum products include a teacher’s manual, and all consumable and durable materials. All lessons are inquiry based, teacher friendly, and are specifically aligned with the new Next Generation Science Standards.<br><br>Any questions, please email us at <a class="reg-link" href="Education@Little-Scientists.com">Education@Little-Scientists.com</a></p>', false, false)

          +fullProduct('/images/products/birthdayparties.jpg', 'BirthdayParties', '<p><span class="bold">Reserve your party!</span><br><br><span>Our Basic Party Package Includes:</span></p><ul class="sublist"><li>A 45 minute Hands-on science experience for 15 children taught by a Little Scientists instructor</li><li>You choose the science theme for the party</li><li>All classes include a project made by each child</li><li>A Little Scientists gift for birthday child</li><li>ONLY $225.00 for a group of 15; each additional child $20.00</li></ul><span>Reserve your party here! Parties held more than 30 miles from Little Scientists<sup>&reg;</sup> corporate headquarters incur additional travel fees.</span><br><br>After your date is reserved. You will receive an e-mail verifying the date, time, location, science theme, and number of participants.</p>', '/products/BirthdayParties', 'Reserve Your Party &rarr;', false, true)
  +contactFooter()
