extends ./base.pug

append bodyContent
  #products.barba-container.container-fluid.relative.subpage(data-namespace='SuccessStoriesNav')
    +navigation()
    #productsHeading.page-section.large-section.top-section.white.section-icon
      .container
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3.c-prim Our Success&nbsp;
                span.c-sec.new-line Stories
            .link-icon.wow.slideInRight
              .icon.icon-image
                img(src='/images/common/rightIcons2.png', alt="Little Scientists")
      .container.small
        .row
          .content-section.no-push.col-xs-12
            .text-section
              .xl.wow.fadeIn.c-dark.wow.fadeIn
                span.bold Little Scientists
                  sup &reg;&nbsp;
                  | has a proven track record of delivering value to our partners and schools! Find out more about how we can help by reading any of the case studies below (NOTE: Links open PDF's)
    #productList.page-section.large-section.white.no-padding
      .container.small
        .row.product-full-row
          +fullProduct('/images/successStories/cmt.png', 'ConnecticutCMT', "<p>Little Scientists® Improves Students Science Scores on State of Connecticut CMT Exam!</p>", 'http://little-scientists.com/CT-CMT.pdf', 'Learn More &rarr;', true, false)
          +fullProduct('/images/successStories/nhps.png', 'NewHavenCTEarlyChildhood', "<p>New Haven's Early Childhood program teams with Little Scientists and improves student's cognitive development.</p>", 'http://little-scientists.com/NH-ECP.pdf', 'Learn More &rarr;', true, true)
          +fullProduct('/images/successStories/headStart.png', 'NewHavenCTEarlyChildhood', "<p>New Haven's Head Start and Little Scientists improves student's cognitive development.</p>", 'http://little-scientists.com/NH-HS.pdf', 'Learn More &rarr;', true, false)
          +fullProduct('/images/successStories/rps.png', 'RichmondVA SOL', "<p>Little Scientists improves SOL scores in Richmond Virginia.</p>", 'http://little-scientists.com/R-SOL.pdf', 'Learn More &rarr;', true, true)
          +fullProduct('/images/successStories/georgia.png', 'GeorgiaSSA', "<p>Little Scientists improves student's science ability in Georgia.</p>", 'http://little-scientists.com/G-SSA.pdf', 'Learn More &rarr;', true, false)
          +fullProduct('/images/successStories/nhps.png', 'NewHavenCTSummerAcademy (2009)', "<p>Little Scientists improves student test scores in New Haven Summer Academy (2009)</p>", 'http://little-scientists.com/NHSA2009.pdf', 'Learn More &rarr;', true, true)
          +fullProduct('/images/successStories/nhps.png', 'NewHavenCTSummerAcademy (2012)', "<p>Little Scientists improves student test scores in New Haven Summer Academy (2012)</p>", 'http://little-scientists.com/NHSA2012.pdf', 'Learn More &rarr;', true, false)


  +contactFooter()
