extends ../base.pug

append bodyContent
  #productSubpage.barba-container.container-fluid.relative.subpage(data-namespace='ProductsNav')
    +navigation()
    #birthdayParties.page-section.large-section.top-section.white.section-icon
      .container
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3.c-prim Birthday&nbsp;
                span.c-sec.new-line Parties
            .link-icon.wow.slideInRight
              .icon.icon-image
                img(src='/images/common/rightIcons1.png', alt="Little Scientists")
      .container.small
        .row
          .content-section.no-push.col-xs-12
            .text-section
              a.reg-link.xl(href='#Contact') Reserve Your Party Below!
              br
              br
            .image-section
              .image-wrapper.wow.fadeIn
                img(src='/images/products/BirthdayParties/1.png', alt='Birthday Parties')
            .text-section.wow.fadeIn.c-light.top-section
              .xl.bold.c-dark.wow.fadeIn Our Basic Party Package Includes:
              ul.text-list.c-prim.xl
                li.list-item A 45 minute Hands-on science experience for 15 children taught by a Little Scientists instructor
                li.list-item You choose the science theme for the party
                li.list-item All classes include a project made by each child
                li.list-item A Little Scientists gift for birthday child
                li.list-item ONLY $225.00 for a group of 15; each additional child $20.00
              br
              br
              .xl.bold.c-dark Favorite Available Goody Bag Items:
              ul.text-list.c-prim.xl
                li.list-item Earth Pencil Sharpeners - $2.00 each
                li.list-item Pencils - $0.30 each
                li.list-item Make Own Bouncy Balls - $2.50 each
                li.list-item Wand Magnets - $2.50 each
                li.list-item Safety Goggles Magnets - $2.50 each
                li.list-item Magnifying Glasses - $2.50 each
                li.list-item Other Items Available...
              br
              br
              a.reg-link.xl(href='#Contact') Reserve Your Party Below!
    #Contact.page-section.large-section.less-padding.blue.text-left.icon-right.relative.dark-contact
      .container
        .row
          .title-section.col-xs-12
            .title
              h3
                span.c-w Reserve&nbsp;
                span.c-sec.new-line Your Party!
        .row
          .no-push.col-xs-12
            .text-section.c-w
              .xl.wow.fadeIn Reserve your party here! Parties held more than 30 miles from Little Scientists corporate headquarters incur additional travel fees.
                br
                br
                | Please include in your message the&nbsp;
                span.bold date of party, location, a science theme, number of partygoers and your child's name.
            .row.content-section
              .top-section.content-left.col-xs-12.col-sm-6
                .contact-form.c-w
                  //TODO: Contact Form
                  .row
                    form#contact-form.wow.fadeIn
                      .input-wrapper.col-xs-12
                        input#name(type='text', placeholder='Your Name* (required)', name='name')
                      .input-wrapper.col-xs-12
                        input#email(type='text', placeholder='Your Email Address* (required)', name='email')
                      .input-wrapper.col-xs-12
                        textarea.c-dark#message(type='text', placeholder='Please Include The Information Requested Above* (required)', name='message')
                      .input-wrapper.col-xs-12
                        .btn-wrapper.wow.pulse
                          button.shadow.button.hover-scale.solid.bg-sec(type='submit') Send Message
              .content-right.col-xs-12.col-sm-6
                #footer
                  .footer-content.col-xs-12
                    .footer-logo
                      a(href='/')
                        img(src='/images/common/logo_main.png', alt='Little Scientists Logo')
                    .footer-meta
                      span.phone.footer-item Phone:&nbsp;
                        a(href='tel:2037831114 ') (203) 783 1114
                      span.email.footer-item Email:&nbsp;
                        a(href='mailto:info@little-scientists.com') info@little-scientists.com
                      span.copyright.footer-item
                        | Copyright © 2017, Little Scientists Inc. All logos, brands, and trade names are Registered Trademarks of their Respective Owners.
                    .footer-designer
                      a.footer-designer-link(href='https://linkedin.com/in/abhinayar') Designed By Abhi Nayar
