extends ../base.pug

append bodyContent
  #productSubpage.barba-container.container-fluid.relative.subpage(data-namespace='ProductsNav')
    +navigation()
    #curriculumUnits.page-section.large-section.top-section.white.section-icon
      .container
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3.c-prim Curriculum&nbsp;
                span.c-sec.new-line Units
            .link-icon.wow.slideInRight
              .icon.icon-image
                img(src='/images/common/rightIcons2.png', alt="Little Scientists")
      .container.small
        .row
          .content-section.no-push.col-xs-12
            .text-section.wow.fadeIn
              .xl.bold.c-dark.wow.fadeIn Curriculum units designed to exceed all 3 Dimensions in the Next Generation Science Standards. Our Curriculum Units can be modified for different grade levels- contact us for more information.
                br
                br
              span.xl Click on a grade below for detailed descriptions of our units or browse through our&nbsp;
                a.reg-link(href="/products/matrix") curriculum subject matrix.
            .list-section.page-item
              ul.item-nav-list.large-list.wow.fadeInUp
                .row
                  .col-xs-6.col-sm-6
                    li.item-nav
                      a(href='/products/CurriculumUnits/Kindergarten') Kindergarten Units
                    li.item-nav
                      a(href='/products/CurriculumUnits/FirstGrade') First Grade Units
                    li.item-nav
                      a(href='/products/CurriculumUnits/SecondGrade') Second Grade Units
                  .col-xs-6.col-sm-6
                    li.item-nav
                      a(href='/products/CurriculumUnits/ThirdGrade') 3rd Grade Units
                    li.item-nav
                      a(href='/products/CurriculumUnits/FourthGrade') 4th Grade Units
                    li.item-nav
                      a(href='/products/CurriculumUnits/FifthGrade') 5th Grade Units
            .image-section.page-item
              .image-wrapper.wow.fadeIn
                img(src='/images/products/CurriculumUnits/sample.png', alt='Sample Curriculum Units')
            +curriculumProgramHighlights()
            .image-section.page-item
              .image-wrapper.wow.fadeIn
                img(src='/images/products/CurriculumUnits/2.png', alt='Little Scientists Curriculum Units')
            .text-section.page-item.lg.c-light
              span.c-dark.bold Little Scientists® Curriculum Units are designed to make implementation easy for teachers.
              br
              br
              span There is a scripted teacher’s manual and each investigation is” Bagged and Tagged” for ease of use. Our prepackaged, curriculum units eliminate the hunt for materials, lesson plans and assessments.  The  Hands-on, Minds-on, Inquiry &amp; Practice -Based science experiments are proven to increase students&#39; understanding of scientific concepts.
    +contactFooter()


mixin curriculumProgramHighlights()
  .text-section.page-item.lg.c-light
    span.title.button.double-lined Curriculum Program Highlights:
    ul.text-list.c-prim
      li.list-item Curriculum units are packaged in sturdy stackable plastic totes.
      li.list-item Each curriculum unit consists of 4 related science topics. There are 14-20 hands-on, minds-on inquiry and practice based investigations in each unit
      li.list-item Multiple small group and individual activities with consumable and durable materials in each unit for 25 students. Teacher manuals include background information, scripted lesson plans, written and inquiry-based task assessments, and literacy resources.
      li.list-item Student science notebooks and a vocabulary poster in each unit.
      li.list-item Each lesson includes a Home-School connection booklet summarizing the lesson and providing extension activities &amp; experiments.
