extends ../base.pug

append bodyContent
  #productSubpage.barba-container.container-fluid.relative.subpage(data-namespace='ProductsNav')
    +navigation()
    #earlyChildhood.page-section.large-section.top-section.white.section-icon
      .container
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3.c-prim Early&nbsp;
                span.c-sec.new-line Childhood
            .link-icon.wow.slideInRight
              .icon.icon-image
                img(src='/images/common/rightIcons1.png', alt="Little Scientists")
      .container.small
        .row
          .content-section.no-margin.col-xs-12
            .text-section.wow.fadeIn.page-item.no-margin
              .xl.bold.c-dark.wow.fadeIn Our Pre-Kindergarten Curriculum engages all young children as natural scientists.
              br
              span.xl Click on the Curriculum Unit or Science Experiment Bag tabs below for detailed descriptions of our Little Scientists
                sup &reg;
                | &nbsp;Early Childhood Curriculum options.
            .image-section.page-item
              .image-wrapper.wow.fadeIn
                a(href='/products/EarlyChildhood/ScienceExperimentBags').inline-img-link.hover-scale
                  img(src='/images/products/EarlyChildhood/ScienceExperimentBags.png', alt='Science Experiment Bags')
                a(href='/products/EarlyChildhood/PreKCurriculumUnits').inline-img-link.hover-scale
                  img(src='/images/products/EarlyChildhood/PreKCurriculumUnits.png', alt='Pre-K Curriculum Units')
            .text-section.page-item
              span.xl The goal of Little Scientists
                sup &reg;
                | &nbsp;is to excite all children about the world of science, using innovative educational techniques. Coupling interactive projects, entertaining demonstrations and simple experiments with children's natural curiosity, Little Scientists
                sup &reg;
                | &nbsp;introduces children to the thrill of scientific discovery.
              br
              br
              span.xl We seek to convert a child’s natural curiosity into a solid foundation of scientific skills and practices. Little Scientists
                sup &reg;
                | &nbsp;programs are easily sustainable and teachable for all early childhood classrooms. All our lessons are inquiry based, teacher friendly and age appropriate aligning with all state and national early childhood Science Standards.
              br
              br
              +earlyChildhoodProgramHighlights()
            .image-section.page-item
              .image-wrapper.wow.fadeIn
                img(src='/images/products/EarlyChildhood/2.png', alt='Early Childhood')

    +contactFooter()


mixin earlyChildhoodProgramHighlights()
  .text-section.page-item.lg.c-light.xl
    span.title.button.double-lined Early Childhood Curriculum Highlights:
    ul.text-list.c-prim.wow.fadeInUp
      li.list-item 11 self contained Curriculum Units for Pre-k packaged in sturdy stackable plastic totes. Each unit contains 4 related science lessons
      li.list-item 19 Science Experiment Bags packaged in sturdy plastic bags
      li.list-item Teaching is to cooperative learning groups of 4 students at the science center
      li.list-item Teacher manuals include background information, scripted lesson plans, written and inquiry-based task assessments, and literacy resources
      li.list-item Student science notebooks and a vocabulary poster in each unit
      li.list-item Each lesson includes a Home-School connection booklet summarizing the lesson and providing extension activities
      li.list-item Materials in each Curriculum Unit and Science Experiment Bag are for a class of 20 students
