extends ../base.pug

append bodyContent
  #productSubpage.barba-container.container-fluid.relative.subpage(data-namespace='ProductsNav')
    +navigation()
    #earlyChildhood.page-section.large-section.top-section.white.section-icon
      .container
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3.c-prim Early&nbsp;
                span.c-sec.new-line Childhood
            .link-icon.wow.slideInRight
              .icon.icon-image
                img(src='/images/common/rightIcons1.png', alt="Little Scientists")
      .container.small
        .row
          .content-section.no-push.col-xs-12
            .image-section.page-item.no-margin
              .image-wrapper.wow.fadeIn
                img(src='/images/products/EarlyChildhood/1.png', alt='Early Childhood')
            .text-section.wow.fadeIn.page-item
              .xl.bold.c-dark.wow.fadeIn Our Pre-Kindergarten Curriculum engages all young children as natural scientists. The goal of Little Scientists&reg; is to excite all children about the world of science, using innovative educational techniques.
              br
              span.xl Coupling interactive projects, entertaining demonstrations and simple experiments with children&#39;s natural curiosity, Little Scientists® introduces children to the thrill of scientific discovery.
            .text-section.page-item
              for item in data
                - topics = item.topics.toString().split('?')
                - topics.splice(topics.length - 1)
                - colorFlag = (productCount % 2 == 1) ? true : false
                +snipCartProduct(url, 'EarlyChildhood', item.id, item.name, item.price, item.description, topics, colorFlag)
            .image-section.page-item
              .image-wrapper.wow.fadeIn
                img(src='/images/products/EarlyChildhood/2.png', alt='Early Childhood')
            .text-section.page-item.lg.c-light
              span We seek to convert a child’s natural curiosity into a solid foundation of scientific skills and practices. Little Scientists programs are easily sustainable and teachable for all early childhood classrooms. All our lessons are inquiry based, teacher friendly and age appropriate aligning with all state and national early childhood Science Standards.
              br
              br
              span.title.button.double-lined span.title.button.double-lined Early Childhood Curriculum Program Highlights:
              ul.text-list.c-prim
                li.list-item 11 self contained curriculum units for Pre-k packaged in sturdy stackable plastic totes.
                li.list-item Teaching is to cooperative learning groups of 4 students at the science center. Teaching is to cooperative learning groups of 4 students at the science center.
                li.list-item Teaching is to cooperative learning groups of 4 students at the science center.
                li.list-item Each lesson includes a Home-School connection booklet summarizing the lesson and providing extension activities.
                li.list-item Materials in each unit and Science Experiment bag are for a class of 20 students.
              br
              br
              span For many young learners already moving forward in demonstrated interest in hands-on science, our programs build on that enthusiasm.  At the same time, LS reinforces the concept of ‘can-do’ an idea of capability that our programs are designed to either instill or validate.

    +contactFooter()
