extends ../base.pug

append bodyContent
  #productSubpage.barba-container.container-fluid.relative.subpage(data-namespace='ProductsNav')
    +navigation()
    #corporatePartnership.page-section.large-section.top-section.white.section-icon
      .container
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3.c-prim International&nbsp;
                span.c-sec.new-line Licensee Program
            .link-icon.wow.slideInRight
              a.blue-link.sm(href='/products')
                .flipped
                  +arrow()
                span Back To Products&nbsp;
      .container.small
        .row
          .content-section.no-push.col-xs-12
            .image-section.page-item.no-margin
              .image-wrapper.wow.fadeIn
                img(src='/images/products/InternationalLicenseeProgram/2.png', alt='International Licensee Program')
            .text-section.wow.fadeIn.page-item.c-light.xl
              .xl.bold.c-dark.wow.fadeIn Little Scientists is your passport to business success in the field of science education.
              br
              span We have been doing international business in several continents for many years.  The world knows that creative hands-on, minds-on, inquiry & practice based science is an international language for success in the classroom.  And you too can be part of our solution for success— take highly motivated students and teachers and provide them a winning formula of hands-on science programs and curriculum units that can challenge and open those doors of inquiry leading to ever greater experimentation and achievement.
              br
              br
              span As Little Scientists seeks to expand its footprint around our globe, we do so in the confident knowledge that our proven field-tested hands-on age appropriate science programs are just what the doctor ordered in a competitive world for tomorrow’s leaders in science and technology. We are looking for prospective partners and licensees who want to join us in this enterprise.  We understand that you want high quality products and deliverable results in learning. We offer dynamic learning modules that have been field tested for a generation.
              br
              br
              span Please fill out our licensee evaluation form if you are interested in becoming a licensee and email it to licensee@little-scientists.com.
              br
              br
              a.reg-link(href='https://drive.google.com/file/d/16B9L-kQb1lyKuFbuyBg2a6f7e40gexxB/view?usp=sharing' target='_blank') DOWNLOAD LICENSEE EVALUATION FORM
            .image-section.page-item
              .image-wrapper.wow.fadeIn
                img(src='/images/products/InternationalLicenseeProgram/1.png', alt='International Licensee Program')
    +contactFooter()
