extends ../base.pug

append bodyContent
  #productSubpage.barba-container.container-fluid.relative.subpage(data-namespace='NGSSMatrix')
    +navigation()
    #NGSSMatrixSection.page-section.large-section.top-section.white.section-icon
      .container.large
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3 NGSS Curriculum&nbsp;
                span.c-sec.new-line Matrix
                  sup &reg;&nbsp;
            .link-icon.wow.slideInRight
              a.blue-link.sm(href='/products/CurriculumUnits') View All Units&nbsp;
                +arrow()
      .container.small
        .row
          .content-section.no-push.col-xs-12
            .text-section
              .xl.wow.fadeIn.c-dark.wow.fadeIn Curriculum units designed to exceed all 3 Dimensions in the Next Generation Science Standards. Click on a unit to view product details. For a PDF version click&nbsp;
                a.reg-link(href='http://little-scientists.com/2016.LittleScientistsNGSS.Matrix.pdf') here
      +NGSSMatrix()
