extends ../base.pug

append bodyContent
  #productSubpage.barba-container.container-fluid.relative.subpage(data-namespace='ProductsNav')
    +navigation()
    #corporatePartnership.page-section.large-section.top-section.white.section-icon
      .container
        .row
          .title-section.col-xs-12
            .title.wow.fadeIn
              h3.c-prim Professional&nbsp;
                span.c-sec.new-line Development
            .link-icon.wow.slideInRight
              .icon.icon-image
                img(src='/images/common/rightIcons2.png', alt="Little Scientists")
      .container.small
        .row
          .content-section.no-push.col-xs-12
            .image-section.page-item.no-margin
              .image-wrapper.wow.fadeIn
                img(src='/images/products/ProfessionalDevelopment/1.png', alt='Professional Development')
            .text-section.wow.fadeIn.page-item.c-light.xl
              .xl.bold.c-dark.wow.fadeIn Little Scientists Curriculum Units are designed to make it easy for teachers to implement our science lessons in their classrooms.
              br
              span Our manuals are teacher friendly; they are scripted so a teacher can simply follow the bold text to convey the important points of the lesson to their students. Another aspect of the Little Scientists Curriculum unit design that makes their implementation easy is that all materials are provided and they are all  “bagged and tagged”
              br
              br
              span All the materials for a given investigation are bagged together and labeled with the alpha numeric label which corresponds to the investigation in the manual. These elements of the Little Scientists Curriculum Unit design make science teaching an easy, step by step process. There is no fumbling, sorting, time-wasting, sit in the closet gathering dust approach.
              br
              br
              .xl.bold.c-dark.wow.fadeIn We offer several forms of professional development:
              ul.text-list.c-prim.xl
                li.list-item
                  a.reg-link.xl(href='#classroomMentoring') Classroom Mentoring
                li.list-item
                  a.reg-link.xl(href='#onsiteMentoring') Onsite Professional Development Development
                li.list-item
                  a.reg-link.xl(href='#onlineDevelopment') Web Based Development
            .text-section.page-item.lg.c-light#classroomMentoring
              span.title.button.double-lined Classroom Mentoring
              br
              br
              span.c-dark.xl
                | Classroom mentoring is when a Little Scientists ® certified instructor models the science lesson for the classroom teacher by teaching the lesson to the classroom. We also offer onsite and online professional development for teachers and administrators.
                br
                br
                span Travel fees are added to the cost of any professional staff development that is more than 30 miles from the Little Scientists
                  span &reg;&nbsp;
                  | corporate headquarters.
            .text-section.page-item.lg.c-light#onsiteMentoring
              span.title.button.double-lined Onsite Professional Development
              br
              br
              span.c-dark.xl
                | Little Scientists will work with administrators and teachers to implement the necessary professional development so science can be effectively taught in the classrooms.
                br
                br
                span For districts that are adopting the NGSS, these professional learning sessions will focus on the 3 dimensional learning in the standards so that educators can learn how to integrate science and engineering practices, disciplinary core ideas, and crosscutting concepts.
            .text-section.page-item.lg.c-light#onlineDevelopment
              span.title.button.double-lined Online Professional Development
              br
              br
              span.c-dark.xl
                | Little Scientists can provide customized teacher training through the web. This method enables districts to save travel costs if they are more than 30 miles from Little Scientists Headquarters in Connecticut.
    +contactFooter()
